.margin-top {
  margin-top: 20px;

  @media screen and (min-width: 768px) {
    margin-top: 32px;
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  gap: 20px;

  @media screen and (min-width: 768px) {
    gap: 32px;
  }
  @media screen and (min-width: 1280px) {
    gap: 16px;
  }
}

.main-card {
  width: 280px;
  height: 398px;

  @media screen and (min-width: 768px) {
    gap: 32px;
    width: 336px;
    height: 455px;
  }
  @media screen and (min-width: 1280px) {
    gap: 16px;
    width: 394px;
    height: 574px;
  }
}
