a {
    text-decoration: none;
  }
  
  .films-list__item {
    width: 280px;
    transition: transform 0.3s ease-in-out;
    
    @media screen and (min-width: 768px) {
      width: 336px;
    }
  
    @media screen and (min-width: 1280px) {
      width: 395px;
    }
    
  }

  .films-list__item:hover, .films-list__item:focus {
    transform: scale(1.02);
  }

  .films-list__link {
    border-radius: 5px;
  }
  
  .films-list-item__poster {
    width: 280px;
    height: 400px;
  
    margin-bottom: 10px;
    border-radius: 5px;
  
    @media screen and (min-width: 768px) {
      width: 336px;
      height: 455px;
  
      margin-bottom: 8px;
    }
  
    @media screen and (min-width: 1280px) {
      width: 395px;
      height: 574px;
  
      margin-bottom: 12px;
    }
  
  };

  .films-item__info {
    font-size: 12px;
    line-height: calc(14/12);
    font-weight: 500;

    @media screen and (min-width: 768px) {
      line-height: calc(16/12);
    }
  
    @media screen and (min-width: 1280px) {
      font-size: 20px;
      line-height: calc(24/20);
    }

  }
  
  .films-list-item__tittle {
    color: #000000;
    text-transform: uppercase;
  };
  
  .films-list-item__ganres {
    color: #B92F2C;
  };