.container {
  background-color: #f7f7f7;
}
a {
  font-size: 14px;
  line-height: calc(16 / 14);
  color: #545454;
}
p {
  display: inline;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: #545454;
}
span {
  margin: 0 10px;
  color: #b92f2c;
}
.footer-block {
  text-align: center;
  padding: 28px 0;
  @media screen and (min-width: 768px) {
    height: 79px;
    padding: 30px 0;
  }
}
.submit {
  border: 0;
  text-decoration: underline;
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: #545454;
  background-color: transparent;
}
