.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.modal {
  width: 280px;
  max-height: 100%;
  background-color: #fff;
  transition: all 0.5s;
  position: fixed;
  top: 50%;
  left: 50%;
  overflow-y: scroll;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.modal_content {
  position: relative;
  padding: 48px 20px 40px 20px;
}

.close {
  position: absolute; /* задаем абсолютное позиционирование для кнопки Close */
  top: 16px;
  right: 16px;
  fill: black;

  cursor: pointer;
}

.close:hover,
.close:focus {
  fill: #b92f2c;
}

.modal_img {
  min-width: 240px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.main_text_modal {
  color: #000000;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(23 / 20);
  margin-bottom: 20px;
}

.modal_items_container {
  display: flex;
  gap: 39px;
  margin-bottom: 20px;
}

.modal-text {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  color: #000000;
}

.modal_list {
  list-style-type: none;
  padding: 0;

  color: #8c8c8c;
}

.modal-list__item:not(:last-child) {
  margin-bottom: 8px;
}

.modal_list--black {
  color: #000000;
}

.modal-item__info {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
}

.vote_span {
  display: inline-block;
  padding: 1px 10px;

  background-color: #b92f2c;
  color: #fff;

  border-radius: 5px;
}

.vote_count_span {
  padding: 1px 4px;

  background-color: #f7f7f7;
  color: #000000;

  border-radius: 5px;
}

.delimiter {
  color: #8c8c8c;
}

.about_modal_text {
  margin-bottom: 8px;
  text-transform: uppercase;
}

.overview_modal {
  margin-bottom: 20px;
  line-height: calc(20 / 12);
}

.buttons-modal {
  display: flex;
  gap: 4px;
}

.button-modal {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);

  text-transform: uppercase;

  color: #b92f2c;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 100px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-watched {
  padding: 10px 12px;
}

.button-queue {
  padding: 10px 14px;
}

.button-modal:hover,
.button-modal:focus {
  color: #ffffff;
  background: #b92f2c;
  border: none;
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 704px;
    .modal_content {
      display: flex;
      padding: 40px 72px 64px 36px;
      gap: 68px;
    }

    .modal_img {
      min-width: 264px;
      height: 374px;
      margin-bottom: 0;
    }

    .buttons-modal {
      gap: 8px;
    }

    .button-watched {
      padding: 12px 18px;
    }

    .button-queue {
      padding: 12px 18px;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .modal {
    width: 806px;
    .modal_content {
      padding: 40px 12px;
      gap: 16px;
    }

    .modal_img {
      min-width: 375px;
      height: 478px;
    }

    .main_text_modal {
      font-size: 30px;
      line-height: calc(35 / 30);
    }

    .button-watched {
      padding: 14px 32px;
    }

    .button-queue {
      padding: 14px 24px;
    }
  }

  .disabled-scroll {
    position: relative;
    overflow: hidden;
    height: 100vw;
  }
}
