.modal {
    // z-index: 150;
    height: 930px;
    width: 280px;
    color: #000;
    opacity: 1;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 38px;
    // font-weight: 500;
    transition: all .5s;
    position: fixed;
    top: 50%;
    left: 50%;
    overflow-y: scroll;
    transform: translate(-50%,-50%)scale(1);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
  }
  
  .close {
    display: flex;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
 
  // padding: 0;


  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
 

  
    
    .modal_img{
      display: block;
      width: 240px;
      // height: 357px;
      margin:28px 0px 20px 0px ;
      border-radius: 5px;

    }