<main class="container margin-top">
  <ul class="cards-container"></ul>
  <section class="section-pagination">
    <div class="pagination">
      <button class="button-pagination button-back" type="button">
        <svg class="pagination-icon" width="16" height="16">
          <use href="./img/icons.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <ul class="buttons-pages"></ul>
      <button class="button-pagination button-forward" type="button">
        <svg class="pagination-icon" width="16" height="16">
          <use href="./img/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
    <button type="button" class="button-top"><img src="./img/arrow.png" alt="arrow" width="30"></button>
  </section>
</main>
