<main class="container margin-top">
  <ul class="cards-container">
    <li class="cards-list">
      <img class="main-card" src="#" alt="" loading="lazy" />
      <div class="main-container">
        <p class="main-title"></p>
        <p class="main-text"></p>
      </div>
    </li>
  </ul>
  <section>
    <div class="pagination">
      <button class="button-pagination button-back" type="button"></button>
      <ul class="buttons-pages"></ul>
      <button class="button-pagination button-forward" type="button"></button>
    </div>
  </section>
</main>
