<main class="">
  <ul>
    <li>
      <img
        class="main-card"
        src="https://img2.akspic.ru/previews/4/5/2/1/7/171254/171254-malysh_grut-reaktivnyj_enot-star_lord-draks_razrushitel-komiksy_marvel-x750.jpg"
        alt="super hero"
        loading="lazy"
      />
      <div class="main-container">
        <p class="main-title">MONSTER HUNTER</p>
        <p class="main-text">Drama, Action | 2020</p>
      </div>
    </li>

    <li>
      <img
        class="main-card"
        src="https://img3.akspic.ru/previews/2/0/5/2/7/172502/172502-iskusstvo_supermena-supermen-chudozhenshhina-art-supergeroj-x750.jpg"
        alt="super hero"
        loading="lazy"
      />
      <div>
        <p>MONSTER HUNTER</p>
        <p>Drama, Action | 2020</p>
      </div>
    </li>

    <li>
      <img
        class="main-card"
        src="https://img3.akspic.ru/previews/6/2/7/0/7/170726/170726-temnota-multfilm-art-zhivopis-poster-x750.jpg"
        alt="super hero"
        loading="lazy"
      />
      <div>
        <p>MONSTER HUNTER</p>
        <p>Drama, Action | 2020</p>
      </div>
    </li>

    <li>
      <img
        class="main-card"
        src="https://img2.akspic.ru/previews/9/4/9/7/6/167949/167949-poster_lunnogo_rycarya-rycar_luny-studiya_marvel-poster-kinovselennaya_marvel-x750.jpg"
        alt="super hero"
        loading="lazy"
      />
      <div>
        <p>MONSTER HUNTER</p>
        <p>Drama, Action | 2020</p>
      </div>
    </li>
  </ul>
  <section>
    <div class="pagination">
      <button class="button-pagination button-back" type="button"></button>
      <ul class="buttons-pages"></ul>
      <button class="button-pagination button-forward" type="button"></button>
    </div>
  </section>
</main>
