<div class="footer-backdrop js-footer-backdrop" style="display: none">
  <div class="footer-modal">
    <div class="footer-modal_header">
      <img
        src="https://www.edu.goit.global/_next/image?url=https%3A%2F%2Fs3.eu-north-1.amazonaws.com%2Flms.goit.files%2F0618d8e0-2652-3e30-ae44-fd6ff17d55a1.png&w=2048&q=75"
        alt=" GoIT logo"
        height="20"
        width="auto"
        class="footer-modal_img"
      />
      <h2 class="footer-modal_title">Student team</h2>
    </div>
    <!--  Team -->
    <div class="gallery footer-gallery"></div>
    <button
      type="button"
      class="footer-modal_button"
      data-action="close-footer-modal"
    >
      Close
    </button>
  </div>
</div>
