<header class="header">
    <div class="header__container container">
      <div class="header__background">
        <div class="header__wrapper">
          
          <div class="header__btn-wrapper">
            <a href="./index.html"
              ><button class="header__btn-home this button" type="button">
                HOME
              </button></a
            >
            <a href="#"
              ><button class="header__btn-library button" type="button">
                MY LIBRARY
              </button></a
            >
          </div>
          <form class="header__form">
            <input
              class="header__form-input"
              name="query"
              type="text"
              placeholder="Movie Search"
            />
            <button class="header__form-btn button" type="submit">
              <svg class="header__form-svg">
                <use href="./img/icons.svg#icon-search-2"></use>
              </svg>
            </button>
          </form>
        </div>
        <div class="header__btn-bottom">
                   <a class="header__logo-link" href="#">
            <svg class="header__film-svg" >
              <use href="./img/icons.svg#icon-film-1"></use> 
            </svg>
            <h1 class="header__title">Filmoteka</h1>
          </a>
        </div>
      </div>
    </div>
  </header>
  